fastapi==0.115.5
protobuf==5.29.0
pydantic==2.10.2
PyMySQL==1.1.1
pytest==8.3.3
python-dotenv==1.0.1
google-generativeai==0.8.3


google-api-core==2.23.0
google-auth==2.36.0
httpx==0.28.0
anyio==4.6.2.post1
h11==0.14.0



google-ai-generativelanguage==0.6.10


langchain==0.3.9
langchain-core==0.3.21
langchain-text-splitters==0.3.2
langsmith==0.1.147

